body {
	background-color: #fffcf0;
	width: 100%;
	height: 100%;

}


h1   {
	color: #5f6802;
	margin: auto;
	text-align: center;
	top: 50%;
	font-family: Bilo Light;
	font-size: 3vw;
}
h2   {
	color: #5f6802;

	font-family: Bilo Light;
	font-size: 1.5em;
		display: block;
}

label   {
	color: #5f6802;

	font-family: Bilo Light;
}

p    {
	color: #5f6802; 
	position: center; 
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40vw;
	height: auto;
	margin: auto;
	margin-top: 15vh;
}

#mc_embed_signup{

	clear:left; 
	font:14px Bilo Light;
	width:300px;
	margin: auto;
	margin-top: 8%;
	text-align: center;
	background-color: #fffcf0;
	display: block;
/*	padding: 1%;
	border: 1px solid #5f6802;*/


}

@media only screen and (max-width: 900px) {
 
 .logo {
 	width: 80vw;
 }

 h1 {
 	font-size: 6vw;
 	padding-bottom: 10vh;
 }

}



