

<link rel="stylesheet" href="https://use.typekit.net/xxxxxxx.css">



<style>
  @import url("https://use.typekit.net/ymc1jht.css");
</style>


 @font-face {
  font-family: Palatino, serif;
font-style: normal;
font-weight: 100;
}



body {
	background-color: #fffcf0;
background-size: 100vw 100vh;
font-family: calluna, serif;
font-weight: 300;
font-style: normal;

}

@media only screen and (max-width: 2000px) {

h1   {
	color: #5f6802;
	margin: auto;
	text-align: center;
	top: 40%;
	font-family: calluna, serif;
font-weight: 300;
font-style: normal;
	font-size: 1.2em;
/*	margin-top: 2vh;*/
}

h2   {
	color: #5f6802;
font-family: calluna, serif;
font-weight: 300;
font-style: normal;
	font-size: 1.2em;
	display: block;
}

label   {
	color: #5f6802;

font-family: calluna, serif;
font-weight: 300;
font-style: normal;
font-size: .8em;
}

p    {
	color: #5f6802; 
	position: center; 
}

.button1 {
	border:2px solid #5f6802 !important;
	padding-left: 9%;
	padding-right: 9%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
font-family: calluna, serif;
font-weight: 300;
font-style: normal;
	background-color:  #5f6802;
	color: #fffcf0;
	border-radius: 5px;
}



.house {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40vw;
	height: auto;
	margin: auto;
	margin-top: 3vh;
	
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 38.4vw;
	height: auto;
	margin: auto;
margin-top: 2.4vh;
}
#mc_embed_signup{

	clear:left; 
font-family: calluna, serif;
font-weight: 300;
font-style: normal;
	width:400px;
	margin: auto;
	margin-top: -2.4%;
	text-align: center;
	background-color: #fffcf0;
	display: block;
/*	padding: 1%;
	border: 1px solid #5f6802;*/


}

@media only screen and (max-width: 1500px) {

h1   {
	color: #5f6802;
	margin: auto;
	text-align: center;
	top: 40%;
	font-family: calluna, serif;
font-weight: 300;
font-style: normal;
	font-size: 1.2em;
/*	margin-top: 2vh;*/
}

h2   {
	color: #5f6802;
font-family: calluna, serif;
font-weight: 300;
font-style: normal;
	font-size: 1.2em;
	display: block;
}

label   {
	color: #5f6802;

font-family: calluna, serif;
font-weight: 300;
font-style: normal;
font-size: .8em;
}

p    {
	color: #5f6802; 
	position: center; 
}

.button1 {
	border:2px solid #5f6802 !important;
	padding-left: 9%;
	padding-right: 9%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
font-family: calluna, serif;
font-weight: 300;
font-style: normal;
	background-color:  #5f6802;
	color: #fffcf0;
	border-radius: 5px;
}



.house {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40vw;
	height: auto;
	margin: auto;
	margin-top: 3vh;
	
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 44vw;
	height: auto;
	margin: auto;
margin-top: 4vh;
}
#mc_embed_signup{

	clear:left; 
font-family: calluna, serif;
font-weight: 300;
font-style: normal;
	width:40%;
	margin: auto;
	margin-top: -2.4%;
	text-align: center;
	background-color: #fffcf0;
	display: block;
/*	padding: 1%;
	border: 1px solid #5f6802;*/


}
}

@media only screen and (max-width: 1030px) {
 
h1 {
	margin-top: 4.2vh;
}

 .logo {
 	width: 60vw;
 } 

 .house{
 	width: 60vw;
 }
#mc_embed_signup{
		margin-top: -3.6vh;
}

@media only screen and (max-width: 500px) {
 
.logo {
 	width: 100vw;
 	margin-top: 5vh;

 }

 .house {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 84vw;
	height: auto;
	margin: auto;
	margin-top: 2vh;
	
}

h1   {
	color: #5f6802;

	text-align: center;
	font-family: calluna, serif;
font-weight: 300;
font-style: normal;
font-size: 1.5em;
	z-index: 3;

	margin-top: 6vh;
}
h2   {
	color: #5f6802;
font-family: calluna, serif;
font-weight: 300;
font-style: normal;
	font-size: 1.5em;
		display: block;
		
}

#mc_embed_signup{

	clear:left; 
font-family: calluna, serif;
font-weight: 300;
font-style: normal;
	width:300px;
	margin: auto;
	margin-top: -5vh;
	text-align: center;
	background-color: #fffcf0;
	display: block;

/*	padding: 1%;

}