

 @font-face {
  font-family: Palatino, serif;
font-style: normal;
font-weight: 100;
}

body {
		font-family: Palatino;
	 background-size: 100vw 100vh;

}




body {
	background-color: #fffcf0;
background-size: 100vw 100vh;

}

h1   {
	color: #5f6802;
	margin: auto;
	text-align: center;
	top: 50%;
	font-family: Palatino;
	font-size: 1.5em;
	margin-top: 2vh;
}

h2   {
	color: #5f6802;
	font-family: Palatino;
	font-size: 1.5em;
	display: block;
}

label   {
	color: #5f6802;

		font-family: Palatino;
}

p    {
	color: #5f6802; 
	position: center; 
}

.subscribe1 {
	border-radius: 1px solid #5f6802 !important;
}

.house {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40vw;
	height: auto;
	margin: auto;
	margin-top: 3vh;
	
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20vw;
	height: auto;
	margin: auto;
margin-top: 10vh;
}
#mc_embed_signup{

	clear:left; 
	font-family: Palatino;
	width:300px;
	margin: auto;
	margin-top: -2%;
	text-align: center;
	background-color: #fffcf0;
	display: block;
/*	padding: 1%;
	border: 1px solid #5f6802;*/


}

@media only screen and (max-width: 900px) {
 
 .logo {
 	width: 40vw;
 } 

 .house{
 	width: 60vw;
 }
#mc_embed_signup{
		margin-top: 5%;
}

@media only screen and (max-width: 400px) {
 
.logo {
 	width: 55vw;
 	margin-top: 15vh;

 }

 .house {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 84vw;
	height: auto;
	margin: auto;
	margin-top: 2vh;
	
}

h1   {
	color: #5f6802;

	text-align: center;
	font-family: Palatino;
	font-size: 5vw;
	z-index: 3;

	margin-top: 7vh;
}
h2   {
	color: #5f6802;
	font-family: Palatino;
	font-size: 1.5em;
		display: block;
		font-size: 5vw;
}

#mc_embed_signup{

	clear:left; 
	font-family: Palatino;
	width:300px;
	margin: auto;
	margin-top: 6vh;
	text-align: center;
	background-color: #fffcf0;
	display: block;

/*	padding: 1%;

